@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --color-primary: #2563EB;
  --color-success: #16A34A;
  --color-warning: #F59E0B;
  --color-danger: #DC2626;
  --color-background: #F9FAFB;

  --font-inter: "Inter", sans-serif;

  --text-h1: 24px;
  --text-h2: 18px;
  --text-body: 14px;
}

@layer base {

  html,
  body {
    font-family: var(--font-inter);
    background-color: var(--color-background);
    font-size: var(--text-body);
    color: #1F2937;
    /* Tailwind Gray 800 for better readability */
  }

  h1 {
    font-size: var(--text-h1);
    font-weight: 700;
  }

  h2 {
    font-size: var(--text-h2);
    font-weight: 600;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
}

/* Custom Range Input (Slider) Styling */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #e2e8f0;
  height: 6px;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px;
  /* Centers thumb on the track */
  background-color: #2563EB;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.15);
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.2);
}

input[type="range"]::-moz-range-track {
  background: #e2e8f0;
  height: 6px;
  border-radius: 10px;
}

input[type="range"]::-moz-range-thumb {
  background-color: #2563EB;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  border: none;
}

/* Remove arrows/spinners from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}